<h2 mat-dialog-title>
  Authorization
</h2>

<form (submit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field
      appearance="fill"
      class="full-width"
    >
      <mat-label> Login</mat-label>
      <input
        [(ngModel)]="login"
        matInput
        name="login"
      >
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="full-width"
    >
      <mat-label> Password</mat-label>
      <input
        [(ngModel)]="password"
        matInput
        type="password"
        name="password"
      >
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-button
      type="submit"
    >
      Log in
    </button>
  </mat-dialog-actions>
</form>
