<mat-toolbar>
  <span>Directories</span>

  <span class="spacer"></span>

  <button
    mat-icon-button
    (click)="addDirectoryItem()"
    title="add item"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="deletePropertyList()"
    title="delete item"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <button
    mat-icon-button
    title="field setting"
  >
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<table mat-table [dataSource]="list" multiTemplateDataRows>
  <ng-container matColumnDef="select">
    <th
      class="select"
      mat-header-cell
      *matHeaderCellDef
    >
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>

    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? this.selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="action"
    ></th>

    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deletePropertyItem(element.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

        <button mat-menu-item (click)="updateDirectoryItem(element.id)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      <span> ID </span>
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.id}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>
      <span> created at </span>
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.created_at}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef>
      <span> updated at </span>
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.updated_at}}</span>
    </td>
  </ng-container>

  <ng-container
    *ngFor="let prop of properties"
    [matColumnDef]="prop"
  >
    <th mat-header-cell *matHeaderCellDef>
      <span>{{ prop }}</span>
    </th>

    <td mat-cell *matCellDef="let element">
      <span>{{element[prop]}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>
      <span> Value count </span>
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.values.length}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="getColumns().length"
    >
      <div
        class="value-list"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <mat-chip-list
          class="chip-list"
          cdkDropList
          cdkDropListOrientation="horizontal"
        >
          <mat-chip
            class="example-box"
            cdkDrag
            (dblclick)="updateValueItem(chip.id)"
            *ngFor="let chip of element.values">
            {{chip.id}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
  <tr
    mat-row
    [class.expanded-row]="expandedElement === element"
    *matRowDef="let element; columns: getColumns();"
    (click)="expandElement(element)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>

<mat-paginator
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[10, 25, 50, 100]"
  (page)="changePage($event)"
  aria-label="Select page"
>
</mat-paginator>
