
body {
  min-height: 100vh;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  flex: 1;
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  overflow: scroll;
}
