<mat-list>
  <mat-list-item>
    <mat-icon>home</mat-icon>

    <a [routerLink]="['/']">
      Dashboard
    </a>
  </mat-list-item>

  <mat-list-item *ngFor="let block of blockList">
    <mat-icon>category</mat-icon>

    <a [routerLink]="['/content', block.id]">
      {{block.name}}
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>person</mat-icon>

    <a [routerLink]="['/user']">
      Users
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>folder</mat-icon>

    <a [routerLink]="['/directory']">
      Directories
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Settings</div>

  <mat-list-item>
    <mat-icon>category</mat-icon>

    <a [routerLink]="['/content']">
      Content
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>display_settings</mat-icon>

    <a [routerLink]="['/property']">
      Properties
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>flag</mat-icon>

    <a [routerLink]="['/flag']">
      Flags
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>translate</mat-icon>

    <a [routerLink]="['/lang']">
      Languages
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Statistics</div>

  <mat-list-item>
    <mat-icon>list</mat-icon>

    <a [routerLink]="['/log']">
      Logs
    </a>
  </mat-list-item>

  <mat-list-item>
    <mat-icon>assessment</mat-icon>

    <a [routerLink]="['/report']">
      Reports
    </a>
  </mat-list-item>
</mat-list>
